.container {
display: flex;
justify-content: center;
align-items: center;
height: 200px;
  position: relative;

}

.container button {
    width: 300px;
  border: none;
  border-radius: 10px;
  background-color: var(--clr-button);
  color: var(--clr-submit-txt);
  text-align: center;
  padding: 15px 0;
  font-size: 16px;
}